<div class="container">
    <h2>Latest Post</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="row post animated slideInLeft">
                <div class="col-lg-6 pr-5 mb-4">
                    <h4 class="mb-4 color-dark-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos!</h4>
                    <p class="color-light-gray">Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia neque nesciunt aliquam nemo rem porro magnam dolor necessitatibus eum voluptas?adipisicing elit. Harum commodi ab, quis aut magnam porro voluptatibus aliquam tempora. Sequi nihil distinctio aut. Inventore obcaecati deserunt consequuntur dolor! Asperiores eius quisquam modi nulla error aperiam suscipit alias! Quam iure officia ipsam.</p>
                    <a name="" id="" class="btn btn-outline-info" href="" role="button">Read more</a>
                </div>
                <div class="col-lg-6 post_image">
                    <a href=""><img src="https://baconmockup.com/1000/600" alt=""></a>
                </div>
            </div>
            <div class="row post animated slideInRight">
                <div class="col-lg-6 mb-4 post_image">
                    <a href=""><img src="https://baconmockup.com/1000/600" alt=""></a>
                </div>
                <div class="col-lg-6 pl-5 ">
                    <h4 class="mb-4 color-dark-gray">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum excepturi minima porro odio? Modi a non quibusdam enim mollitia! Vitae!</h4>
                    <p class="color-light-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet praesentium molestias voluptas officia eum, at quia, laudantium nemo repudiandae corrupti sunt iure doloremque animi quas ex iste, nesciunt dignissimos est? Voluptas perferendis atque quis quam amet vero ratione dicta, optio eum quaerat modi expedita a! Dolorum earum, ratione possimus temporibus optio odio, accusamus iste officia deleniti quasi asperiores? Cumque, excepturi.</p>
                    <div class="text-right">
                        <a name="" id="" class="btn btn-outline-info" href="" role="button">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h2>Posts</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="row post animated slideInLeft">
                <div class="col-lg-6 pr-5 mb-4">
                    <h4 class="mb-4 color-dark-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eos!</h4>
                    <p class="color-light-gray">Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia neque nesciunt aliquam nemo rem porro magnam dolor necessitatibus eum voluptas?adipisicing elit. Harum commodi ab, quis aut magnam porro voluptatibus aliquam tempora. Sequi nihil distinctio aut. Inventore obcaecati deserunt consequuntur dolor! Asperiores eius quisquam modi nulla error aperiam suscipit alias! Quam iure officia ipsam.</p>
                    <a name="" id="" class="btn btn-outline-info" href="" role="button">Read more</a>
                </div>
                <div class="col-lg-6 post_image">
                    <a href=""><img src="https://baconmockup.com/1000/600" alt=""></a>
                </div>
            </div>
            <div class="row post animated slideInRight">
                <div class="col-lg-6 mb-4 post_image">
                    <a href=""><img src="https://baconmockup.com/1000/600" alt=""></a>
                </div>
                <div class="col-lg-6 pl-5 ">
                    <h4 class="mb-4 color-dark-gray">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum excepturi minima porro odio? Modi a non quibusdam enim mollitia! Vitae!</h4>
                    <p class="color-light-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet praesentium molestias voluptas officia eum, at quia, laudantium nemo repudiandae corrupti sunt iure doloremque animi quas ex iste, nesciunt dignissimos est? Voluptas perferendis atque quis quam amet vero ratione dicta, optio eum quaerat modi expedita a! Dolorum earum, ratione possimus temporibus optio odio, accusamus iste officia deleniti quasi asperiores? Cumque, excepturi.</p>
                    <div class="text-right">
                        <a name="" id="" class="btn btn-outline-info" href="" role="button">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>