<div class="container">
	<h2>Change Password</h2>
    <div class="row">
        <div class="col-md-8 offset-md-2">
			<div class="changepass_section">
				<div class="row mt-4">
					<div class="col-lg-6 offset-lg-3">
						<div class="form-group mb-2 pass_text_group">
							<label for="old_pass" class=" ">Old Password<strong class="color-orange">&nbsp;&nbsp;*</strong></label>
							<input [type]="oldPassInputType()" name="old_pass" id="old_pass" class="mt-input" [(ngModel)]="old_pass" [ngClass]="validation.textInputValidate(old_pass)">
							<button class="pass_eye point" (click)="show_oldpass = true" *ngIf="!show_oldpass"><i class="fa fa-eye-slash color-orange"></i></button>
							<button class="pass_eye point" (click)="show_oldpass = false" *ngIf="show_oldpass"><i class="fa fa-eye color-orange"></i></button>
						</div>
						<div class="form-group pass_text_group">
							<label for="new_pass" class="">New Password<strong class="color-orange">&nbsp;&nbsp;*</strong></label>
							<input [type]="newPassInputType()" name="new_pass" id="new_pass" class="mt-input" [(ngModel)]="new_pass" [ngClass]="validation.textInputValidate(new_pass)">
							<button class="pass_eye point" (click)="show_newpass = true" *ngIf="!show_newpass"><i class="fa fa-eye-slash color-orange"></i></button>
							<button class="pass_eye point" (click)="show_newpass = false" *ngIf="show_newpass"><i class="fa fa-eye color-orange"></i></button>
							<small class="color-orange">
								Password must be at least 8 characters long.<br>
								(Please include letters and numbers)
							</small>
						</div>
						<div class="form-group pass_text_group">
							<label for="confirm_pass" class="">Confirm New Password<strong class="color-orange">&nbsp;&nbsp;*</strong></label>
							<input [type]="confirmPassInputType()" name="confirm_pass" id="confirm_pass" class="mt-input" [(ngModel)]="confirm_pass" [ngClass]="validation.textInputValidate(confirm_pass)">
							<button class="pass_eye point" (click)="show_confirmpass = true" *ngIf="!show_confirmpass"><i class="fa fa-eye-slash color-orange"></i></button>
							<button class="pass_eye point" (click)="show_confirmpass = false" *ngIf="show_confirmpass"><i class="fa fa-eye color-orange"></i></button>
						</div>
						<button class="mt-btn btn-block mb-4" (click)="changePass()">Change Password</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>