
h4{
    background-color: white;
    padding: 1.5rem 0 1rem 0;
}

.pass_eye{
    position: absolute;
    top: 40px;
    right: 0;
    background: transparent;
    border: none;
    outline: none;
    width: 50px;
    z-index: 200;
}

.pass_text_group{
    position: relative;
}