<div class="container">
    <h2>Privacy Policy</h2>
    <div class="row">
        <h4 class="color-orange mb-2">What is a privacy policy?</h4>
        <p  class="color-gray mb-5">
            A privacy policy is a document that states what personal data you collect from your users, why, and how you keep it private.
            The purpose of the privacy policy is to inform your users about how their data is being handled.
            Hence, the privacy policy should be accessible for your users and kept in a plain and readable language.
            Most countries have privacy laws requiring that websites collecting personal data have a proper privacy policy in place.
            Failure to comply can result in heavy fines and even prosecution.
        </p>
        <h4 class="color-orange mb-2">Do I need a privacy policy for my website?</h4>
        <p class="color-gray mb-5">
            You probably do. If your website collects personal data, you need a privacy policy.
            Most websites collect user data. Often, it happens without the website owner even being aware of it, by means of cookies.
            If your website is hosted, or if you use plugins, social media-buttons, analytics tools and the like on your website, then it does set cookies and collect user data.
            With the enforcement of the GDPR and the EU ePrivacy regulation, a proper privacy policy is adamant for websites in the EU and websites that have EU-citizens amongst their users.
            If you are in doubt about the use of cookies on your website, you can try and take an audit of your website here for free.
            The free audit scans five pages of your website and sends you a report of the cookies and online tracking on these pages, including information on their provenance, purpose and whether or not they are compliant.
            If you want a complete overview of the cookies and online tracking going on on all of your website, sign up to the Cookiebot solution.
        </p>
        <h4 class="color-orange mb-2">Where does it come from?</h4>
        <p class="color-gray mb-5">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. 
            The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>
        <h4 class="color-orange mb-2">Where can I get some?</h4>
        <p class="color-gray mb-5">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, 
            or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
            embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
            the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
            to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
        </p>

  </div>
</div>