<div id="delivery_infodetails_content">
	<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<div class="my-3">
				<h4 class="text-center" style="margin-bottom: 0">Please enter your delivery details</h4>
				<div class="text-center go_another_account point" (click)="goAnotherAccount()"><small>Do you want to login with a different account?</small></div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-md-2">
					<div class="form-group mb-3">
						<label for="title" class=" ">Title</label>
						<div class="mt-success-select">
							<div class="icon-wrap">
								<i class="fa fa-angle-down text-light"></i>
							</div>
							<ng-select [items]="titles" bindLabel="name" bindValue="id" placeholder="Select your title" [(ngModel)]="title" name="title"></ng-select>
						</div>
					</div>
					<div class="form-group mb-3">
						<label for="first_name" class="color-gray">First Name<strong class="color-orange">&nbsp;&nbsp;*</strong></label>
						<input type="text" name="first_name" id="first_name" class="mt-input" [(ngModel)]="first_name" >
					</div>
					<div class="form-group mb-3">
						<label for="last_name" class="color-gray">Last Name</label>
						<input type="text" name="last_name" id="last_name" class="mt-input" [(ngModel)]="last_name" >
					</div>
					<div class="form-group mb-3">
						<label for="email" class="color-gray" style="margin-bottom:0;">Email<strong class="color-orange">&nbsp;&nbsp;*</strong></label>
						<p class="color-gray">{{email}}</p>
					</div>
				</div>
			</div>
			<div class="text-center">
				<small class="color-orange">Note: Your order receipts will be emailed to you on your provided email address.</small><br>
				<div class="color-orange d-flex align-items-center justify-content-center">
					<small class="color-gray switch_label">{{displaySwitchLabel(email_news)}}</small>
					<div class="pt-1 mr-2"><ui-switch [(ngModel)]="email_news" size="small" color="#F6931D" defaultBgColor="darkgray"></ui-switch></div>
					<div class="d-flex align-items-center"><small>Receive emails of deals, discounts and Meat hut news</small></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-md-2">
					<div class="form-group" style="margin-bottom: 0">
						<label for="mobile_phone" class="">Mobile Number<strong class="color-orange">&nbsp;&nbsp;*</strong></label>
						<input type="text" class="mt-input" name="mobile_phone" id="mobile_phone" [(ngModel)]="mobile_phone" 
							[ngClass]="validation.textInputValidate(mobile_phone)" [textMask]="{mask: phone_mask, guide: false}">
					</div>
					<div class="text-center mb-4">
						<div class=" color-orange d-flex align-items-center">
							<small class="color-gray switch_label">{{displaySwitchLabel(order_sms)}}</small>
							<div class="pt-1 mr-2"><ui-switch [(ngModel)]="order_sms" size="small" color="#F6931D" defaultBgColor="darkgray"></ui-switch></div>
							<div class="d-flex align-items-center"><small>Receive order updates by SMS</small></div>
						</div>
					</div>
				</div>
			</div>
			<div class="my-3">
				<h5 class="text-center">Your Delivery Address</h5>
			</div>
			<div class="row" *ngIf="delivery_addresses.length > 0">
				<div class="col-lg-8 offset-md-2">
					<div class="addresses_wrap mb-4" *ngFor="let address of delivery_addresses; let i = index;">
						<div>
							<p (click)="selectDeliveryAddress(i)"  class="font-3">
								<input type="radio" id="address{{i}}" name="address_group" [checked]="i === 0">
								<label for="address{{i}}"></label>
							</p>
						</div>
						<div>
							<p>{{address.address_name}}</p>
							<p>{{address.address_line1}}</p>
							<p>{{address.address_line2}}</p>
							<p>{{address.city}}</p>
							<p>{{address.post_code}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row mb-2" *ngIf="delivery_addresses.length > 0">
				<div class="col-lg-8 offset-md-2">
					<p (click)="selectDeliveryAddress(delivery_addresses.length)">
						<input type="radio" id="address{{delivery_addresses.length}}" name="address_group">
						<label for="address{{delivery_addresses.length}}">Add New Address</label>
					</p>
				</div>
			</div>
			<div class="row" *ngIf="delivery_addresses.length === 0 || is_newaddress">
				<div class="col-lg-8 offset-md-2">
					<div class="form-group mb-2">
						<label for="address_line1" class=" ">Address Line1<strong class="color-orange">&nbsp;&nbsp;*</strong></label>
						<input type="text" name="address_line1" id="address_line1" class="mt-input" [(ngModel)]="address_line1" [ngClass]="validation.textInputValidate(address_line1)">
					</div>
					<div class="form-group mb-2">
						<label for="address_line1" class=" ">Address Line2</label>
						<input type="text" name="address_line2" id="address_line2" class="mt-input" [(ngModel)]="address_line2" [ngClass]="validation.textInputOptionalValidate(address_line2)">
					</div>
					<div class="form-group mb-2">
						<label for="city" class=" ">City</label>
						<input type="text" name="city" id="city" class="mt-input" [(ngModel)]="city" [ngClass]="validation.textInputOptionalValidate(city)">
					</div>
					<div class="form-group mb-2">
						<label for="post_code" class="">Postcode<strong class="color-orange">&nbsp;&nbsp;*</strong></label>
						<input type="text" name="post_code" id="post_code" class="mt-input" [(ngModel)]="post_code" [ngClass]="validation.textInputValidate(post_code)">
					</div>
					<div class="form-group" style="margin-bottom: 0">
						<label for="address_name" class="">Address Name<strong class="color-orange">&nbsp;&nbsp;*</strong></label>
						<input type="text" name="address_name" id="address_name" class="mt-input" [(ngModel)]="address_name" [ngClass]="validation.textInputValidate(address_name)">
					</div>
				</div>
			</div>
			<div class="text-center mb-4" *ngIf="delivery_addresses.length === 0 || is_newaddress">
				<small class="color-orange">
					Note: Insert a name for each address you wish to add.<br>
					This will be easier to identify at checkout, e.g. Home, Work etc
				</small>
			</div>
			<div class="row mb-4">
				<div class="col-lg-8 offset-md-2">
					<div class="form-group mb-4">
						<label for="promo_code" class="color-gray">Promo code</label>
						<input type="text" name="promo_code" id="promo_code" class="mt-input" [(ngModel)]="promo_code" >
					</div>
					<button class="mt-btn btn-lg btn-block font-1" (click)="confirmCheckout()">Confirm & Checkout</button>
				</div>
			</div>
		</div>
	</div>
</div>
<button type="button" class="btn btn-primary btn-lg d-none" data-toggle="modal" data-target="#confrm_dlg" id="configdlg_btn"></button>
<div class="modal fade" id="confrm_dlg" tabindex="-1" role="dialog" aria-labelledby="confrm_dlgTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-gray">
				<h5 class="modal-title ml-5" id="confrm_dlgTitle">Please confirm your {{getDeliveryOptionLabel() | lowercase}} time</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
			  	</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-6">
							<div class="form-group mb-3">
								<label for="delivery_day" class=" ">{{getDeliveryOptionLabel()}} Day</label>
								<div class="mt-success-select">
									<div class="icon-wrap">
										<i class="fa fa-angle-down text-light"></i>
									</div>
									<ng-select [items]="delivery_days" bindLabel="name" bindValue="id" placeholder=""
									 [(ngModel)]="delivery_dayno" name="delivery_day" (change)="deliveryDayChange($event)"></ng-select>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group mb-3">
								<label for="delivery_time" class=" ">{{getDeliveryOptionLabel()}} Time</label>
								<div class="mt-success-select">
									<div class="icon-wrap">
										<i class="fa fa-angle-down text-light"></i>
									</div>
									<ng-select [items]="delivery_times" bindLabel="name" bindValue="id" placeholder="" 
									[(ngModel)]="delivery_timeno" name="delivery_time" (change)="deliveryDateChange($event)"></ng-select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group mb-0">
								<label for="instruction" class="color-orange">Instructions for the butcher</label>
								<textarea class="form-control" name="instruction" id="instruction" rows="3" [(ngModel)]="order_service.current_order.note"></textarea>
								<p class="text-danger text-center font-2 mt-2 mb-0" *ngIf="!isToday()">
								  Warning! You are placing a pre-order for {{displayDeliveryDate()}}.
									Would you like to continue or review the {{getDeliveryOptionLabel() | lowercase}} date?
							    </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button type="button" class="btn mt-btn w-50" data-dismiss="modal" (click)="confirmPay()">Confirm & Pay</button>
			</div>
		</div>
	</div>
</div>