<div class="container">
    <h2>Terms and Conditions</h2>
    <div class="row">
        <p class="color-gray">
            The information and data on this site is subject to revision without notice and 
            I, Andrew Raynor, may revise these terms and conditions at any time by updating this notice.
        </p>
        <p class="color-gray">
            By accessing and/or browsing the site, you are acknowledging and agreeing the following:
        </p>
        <ul>
            <li class="color-gray mb-4">
                All intellectual property rights in and to the site are the property of Andrew Raynor and you agree not to copy, 
                reproduce, transmit, distribute or create derivative works of any part of the site for personal or commercial gain,
                 nor assist any third party to distribute or commercially exploit all or any part of this site.
            </li>
            <li class="color-gray mb-4">
                The site is provided on an "as is" and "as available" basis and Andrew Raynor makes no express or implied warranties or representations 
                in relation to it. This includes, without limitation, any implied warranties or representations of satisfactory quality, 
                fitness for a particular purpose, availability, completeness or accuracy.
            </li>
            <li class="color-gray mb-4">
                Andrew Raynor shall not be held liable for any loss or damage arising from, 
                or in any way connected with, your use of this site or any information contained or derived 
                from it (even where Andrew Raynor has been advised of the possibility of such loss or damage). 
                This includes, without limitation, any damage for loss of profits, loss of information, or any other monetary loss.
            </li>
        </ul>
        <h4 class="color-orange mb-4">Meathut website</h4>
        <p class="color-gray mb-4">
            The website meathut.com are released under a Creative Commons Attribution 3.0 Licence. This means that 
            you are free to download and use the template for personal or commercial use, providing:
        </p>
        <ul>
            <li class="color-gray mb-4">
                All of the website templates are offered "as is" without warranty of any kind, either expressed or implied. Andrew Raynor shall not be liable 
                for any loss or damage arising from, or in any way connected with, your use of, or inability to use, the website templates
            </li>
            <li class="color-gray mb-4">
                These PHP Contact Forms are offered "as is" without warranty of any kind, either expressed or implied. 
                Andrew Raynor shall not be liable for any loss or damage arising from, or in any way connected with, your use of, 
                or inability to use, the website templates (even where Andrew Raynor has been advised of the possibility of such loss or damage). 
                This includes, without limitation, any damage for loss of profits, loss of information, or any other monetary loss.
            </li>
        </ul>

    </div>
</div>