/**** ng select cusomize ****/
:host /deep/ ng-select .ng-control{
    background-color: transparent !important;
    height: 38px !important;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #535353;
}

:host /deep/ ng-select .ng-value{
    font-size: 1rem;
    color: #535353;
}

:host /deep/ ng-select{
    width: calc(100% + 4px) !important;
    margin-left: -2px !important;
}


:host /deep/ ng-select .ng-input{
    display: none !important;
}

:host /deep/ ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.marked{
    background-color: #fcb35f !important;
}

:host /deep/ ng-select .ng-option{
    background-color: #F6931D !important;
    color: white !important;
}

:host /deep/ ng-select .ng-dropdown-panel{
    background-color: #F6931D !important;
    border: none !important;
    /* margin-left: -2px!important; */
    /* margin-right: -4px!important; */
    
}

:host /deep/ ng-select .ng-arrow{
    display: none !important;
}

:host /deep/ ng-select .ng-clear{
    display: none !important;
}

.signtext a{
    text-decoration: none;
}

.logo-name{
    width: 250px;
    height: 50px;
}

.signup_section_icon{
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    margin-top: -10px;
}

label{
    font-size: 1.2rem;
    margin: 0;
}

.mt-uploaded-btn{
    background-color: black;
    color: white !important;
}

button.mt-btn{
    border-radius: 0px;
    font-size: 1.3rem;
}

button.mt-disable-btn{
    border-radius: 0px;
}

button.mt-disable-btn{
    font-size: 1.3rem
}

.filename{
    display: block;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
    white-space: nowrap;
}
.pass_eye{
    position: absolute;
    top: 35px;
    right: 0;
    background: transparent;
    border: none;
    outline: none;
    width: 50px;
    z-index: 200;
}

.pass_text_group{
    position: relative;
}