<div>
  <div class="row mb-4">
      <div class="col-12 d-flex justify-content-center">
          <img src="assets/images/profile_placeholder.png" alt="" style="width: 50px; height: 50px;">
          <div class="ml-2 h4 btn_title mb-0" style="line-height: 50px">Butcher's Frequently Asked Questions</div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-4 leftbar">
      <ul>
        <li class="bg-lightgray color-orange">Heading of Question1</li>
        <li class="bg-lightgray color-orange">Heading of Question1</li>
        <li class="bg-lightgray color-orange">Heading of Question1</li>
        <li class="bg-lightgray color-orange">Heading of Question1</li>
        <li class="bg-lightgray color-orange">Heading of Question1</li>
        <li class="bg-lightgray color-orange">Heading of Question1</li>
        <li class="bg-lightgray color-orange">Heading of Question1</li>
        <li class="bg-lightgray color-orange">Heading of Question1</li>
        <li class="bg-lightgray color-orange">Heading of Question1</li>
      </ul>
    </div>
    <div class="col-sm-8 bg-lightgray">
      <div class="question">
        <h3 class="pt-3">Heading of Question1</h3>
        <div class="subquest">
          <h5 class="py-3">Sub Heading 1 of Question1</h5>
          <p class="font-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis atque earum, 
            libero consequuntur iure deserunt eaque ad sint laudantium. Possimus corporis minima 
            hic ullam rem molestiae quisquam eaque porro aliquid, recusandae culpa accusantium maxime 
            dicta alias dolorem repellat quam ut corrupti fugit architecto maiores perferendis! Placeat 
            tempore aut blanditiis quidem omnis! Nobis, totam porro voluptate aut consectetur reiciendis at. 
            Facilis ipsa voluptatum numquam quod ipsum architecto sed a nesciunt animi qui nulla eveniet, quia, 
            laudantium ad. Nihil praesentium unde ducimus mollitia. Quibusdam reprehenderit maxime commodi sunt, 
            maiores aut magni omnis laudantium! 
          </p>
        </div>
        <div class="subquest">
          <h5 class="py-3">Sub Heading 1 of Question1</h5>
          <p class="font-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis atque earum, 
            libero consequuntur iure deserunt eaque ad sint laudantium. Possimus corporis minima 
            hic ullam rem molestiae quisquam eaque porro aliquid, recusandae culpa accusantium maxime 
            dicta alias dolorem repellat quam ut corrupti fugit architecto maiores perferendis! Placeat 
            tempore aut blanditiis quidem omnis! Nobis, totam porro voluptate aut consectetur reiciendis at. 
            Facilis ipsa voluptatum numquam quod ipsum architecto sed a nesciunt animi qui nulla eveniet, quia, 
            laudantium ad. Nihil praesentium unde ducimus mollitia. Quibusdam reprehenderit maxime commodi sunt, 
            maiores aut magni omnis laudantium! 
          </p>
        </div>
      </div>
      <div class="question">
        <h3 class="pt-3">Heading of Question1</h3>
        <div class="subquest">
          <h5 class="py-3">Sub Heading 1 of Question1</h5>
          <p class="font-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis atque earum, 
            libero consequuntur iure deserunt eaque ad sint laudantium. Possimus corporis minima 
            hic ullam rem molestiae quisquam eaque porro aliquid, recusandae culpa accusantium maxime 
            dicta alias dolorem repellat quam ut corrupti fugit architecto maiores perferendis! Placeat 
            tempore aut blanditiis quidem omnis! Nobis, totam porro voluptate aut consectetur reiciendis at. 
            Facilis ipsa voluptatum numquam quod ipsum architecto sed a nesciunt animi qui nulla eveniet, quia, 
            laudantium ad. Nihil praesentium unde ducimus mollitia. Quibusdam reprehenderit maxime commodi sunt, 
            maiores aut magni omnis laudantium! 
          </p>
        </div>
        <div class="subquest">
          <h5 class="py-3">Sub Heading 1 of Question1</h5>
          <p class="font-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis atque earum, 
            libero consequuntur iure deserunt eaque ad sint laudantium. Possimus corporis minima 
            hic ullam rem molestiae quisquam eaque porro aliquid, recusandae culpa accusantium maxime 
            dicta alias dolorem repellat quam ut corrupti fugit architecto maiores perferendis! Placeat 
            tempore aut blanditiis quidem omnis! Nobis, totam porro voluptate aut consectetur reiciendis at. 
            Facilis ipsa voluptatum numquam quod ipsum architecto sed a nesciunt animi qui nulla eveniet, quia, 
            laudantium ad. Nihil praesentium unde ducimus mollitia. Quibusdam reprehenderit maxime commodi sunt, 
            maiores aut magni omnis laudantium! 
          </p>
        </div>
      </div>
      <div class="question">
        <h3 class="pt-3">Heading of Question1</h3>
        <div class="subquest">
          <h5 class="py-3">Sub Heading 1 of Question1</h5>
          <p class="font-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis atque earum, 
            libero consequuntur iure deserunt eaque ad sint laudantium. Possimus corporis minima 
            hic ullam rem molestiae quisquam eaque porro aliquid, recusandae culpa accusantium maxime 
            dicta alias dolorem repellat quam ut corrupti fugit architecto maiores perferendis! Placeat 
            tempore aut blanditiis quidem omnis! Nobis, totam porro voluptate aut consectetur reiciendis at. 
            Facilis ipsa voluptatum numquam quod ipsum architecto sed a nesciunt animi qui nulla eveniet, quia, 
            laudantium ad. Nihil praesentium unde ducimus mollitia. Quibusdam reprehenderit maxime commodi sunt, 
            maiores aut magni omnis laudantium! 
          </p>
        </div>
        <div class="subquest">
          <h5 class="py-3">Sub Heading 1 of Question1</h5>
          <p class="font-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis atque earum, 
            libero consequuntur iure deserunt eaque ad sint laudantium. Possimus corporis minima 
            hic ullam rem molestiae quisquam eaque porro aliquid, recusandae culpa accusantium maxime 
            dicta alias dolorem repellat quam ut corrupti fugit architecto maiores perferendis! Placeat 
            tempore aut blanditiis quidem omnis! Nobis, totam porro voluptate aut consectetur reiciendis at. 
            Facilis ipsa voluptatum numquam quod ipsum architecto sed a nesciunt animi qui nulla eveniet, quia, 
            laudantium ad. Nihil praesentium unde ducimus mollitia. Quibusdam reprehenderit maxime commodi sunt, 
            maiores aut magni omnis laudantium! 
          </p>
        </div>
      </div>
      <div class="question">
        <h3 class="pt-3">Heading of Question1</h3>
        <div class="subquest">
          <h5 class="py-3">Sub Heading 1 of Question1</h5>
          <p class="font-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis atque earum, 
            libero consequuntur iure deserunt eaque ad sint laudantium. Possimus corporis minima 
            hic ullam rem molestiae quisquam eaque porro aliquid, recusandae culpa accusantium maxime 
            dicta alias dolorem repellat quam ut corrupti fugit architecto maiores perferendis! Placeat 
            tempore aut blanditiis quidem omnis! Nobis, totam porro voluptate aut consectetur reiciendis at. 
            Facilis ipsa voluptatum numquam quod ipsum architecto sed a nesciunt animi qui nulla eveniet, quia, 
            laudantium ad. Nihil praesentium unde ducimus mollitia. Quibusdam reprehenderit maxime commodi sunt, 
            maiores aut magni omnis laudantium! 
          </p>
        </div>
        <div class="subquest">
          <h5 class="py-3">Sub Heading 1 of Question1</h5>
          <p class="font-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis atque earum, 
            libero consequuntur iure deserunt eaque ad sint laudantium. Possimus corporis minima 
            hic ullam rem molestiae quisquam eaque porro aliquid, recusandae culpa accusantium maxime 
            dicta alias dolorem repellat quam ut corrupti fugit architecto maiores perferendis! Placeat 
            tempore aut blanditiis quidem omnis! Nobis, totam porro voluptate aut consectetur reiciendis at. 
            Facilis ipsa voluptatum numquam quod ipsum architecto sed a nesciunt animi qui nulla eveniet, quia, 
            laudantium ad. Nihil praesentium unde ducimus mollitia. Quibusdam reprehenderit maxime commodi sunt, 
            maiores aut magni omnis laudantium! 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
