.list-content {
  border: 1px solid lightgray;
  height: 250px;
  overflow-y: auto;
  cursor: pointer;
  position: relative;
}

#cat-list-wrap .list-content-wrap {
  width: 50%;
  flex: 1 0 150px;
}

#choice-list-wrap .list-content-wrap {
  width: 25%;
  flex: 1 0 150px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0 5px 0 10px;
  line-height: 30px;
  border-bottom: 1px solid lightgray;
  display: flex;
  position: relative;
}

ul li:hover,
ul li.active {
  background-color: rgb(230, 230, 230);
}

ul li div:first-child {
  flex-grow: 1
}

ul li div:nth-child(2) {
  flex-basis: 20px;
}

ul li div:nth-child(2) svg {
  width: 100%;
}

#cat-list-wrap {
  display: flex;
  flex-wrap: wrap;
}

#choice-list-wrap {
  display: flex;
  flex-wrap: wrap;
}

#cat-list-section .list-content table tr td {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

#cat-list-section .list-content table tr td:last-child {
  border-right: none;
  border-bottom: 1px solid lightgray;
}

.control_group {
  position: absolute;
  top: 0;
  right: 15px;
  width: 35px;
  height: 30px;
}

#choice-list-wrap .control_group {
  position: absolute;
  top: 0;
  right: 0px;
  width: 35px;
  height: 30px;
}

.control_group svg {
  display: inline-block;
}

// .list-content ul li.active div.control_group{
//     display: block;
// }
.list-content ul li div.control_group {
  display: block;
}


small a {
  color: #ffd507 !important;
}

small a:hover {
  color: #f55c1f
}
