<div class="container login">
    <h2>CHANGE PASSWORD</h2>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="form-group">
                <input type="password" class="mt-input" name="new_password" id="new_password" placeholder="New Password" [(ngModel)]="new_password" 
                [ngClass]="validation.textInputValidate(new_password)">
                <small class="form-text text-muted">
					Password must be at least 8 characters long.<br>
					(Please include letters and numbers)
				</small>
            </div>
            <div class="form-group">
                <input type="password" class="mt-input" name="confirm_password" id="confirm_password" placeholder="Confirm Password" [(ngModel)]="confirm_password"
                [ngClass]="validation.textInputValidate(confirm_password)">
            </div>
            <button type="button" name="change_btn" id="change_btn" class="btn mt-btn btn-block text-light mb-3" (click)="passChange()">CHANGE</button>
            <button type="button" name="cancel_btn" id="cancel_btn" class="btn btn-secondary btn-block text-light mb-3" (click)="cancel()">CANCEL</button>
        </div>
    </div>
</div>