@media screen and (max-width: 1200px) {
  div.shopset_result_content:first-child {
    margin-right: 1rem !important;
  }
  .picexplain_content h6 {
    font-size: 1.2rem !important;
  }
  .picexplain_content p {
    font-size: 0.85rem !important;
  }
  .picexplain_content p small {
    font-size: 0.85rem !important;
  }
  .introexplain_content p {
    font-size: 0.85rem !important;
  }
}

@media screen and (max-width: 992px) {
  div.shopset_result_content:first-child {
    margin-right: 0 !important;
  }
  div.shopset_result_content:last-child {
    margin-bottom: 0 !important;
  }
  .shopset_result_content img,
  .shopset_result_content .shop_logo {
    width: 150px !important;
    height: 150px !important;
  }
  .picexplain_content img {
    width: 90px !important;
    height: 90px !important;
  }
  .shopset_result_content .shop_logo p {
    font-size: 80px !important;
  }
}

@media screen and (max-width: 768px) {
  .picexplain_content h6 {
    font-size: 1rem !important;
  }
  .picexplain_content p {
    font-size: 0.7rem !important;
  }
  .picexplain_content p small {
    font-size: 0.7rem !important;
  }
  .introexplain_content p {
    font-size: 0.7rem !important;
  }
}

@media screen and (max-width: 576px) {
  .shopset_result_content img,
  .shopset_result_content .shop_logo {
    width: 120px !important;
    height: 120px !important;
  }
  .picexplain_content img {
    width: 90px !important;
    height: 90px !important;
  }
  .shopset_result_content .shop_logo p {
    font-size: 65px !important;
    ;
  }
  .introexplain_content {
    width: 100% !important;
  }
  .shopset_result_content div,
  .shopset_result_content p {
    font-size: 0.8rem !important;
  }
}

.day_section {
  border: 1px solid black;
  padding: 1rem;
}

.dayset_result_section {
  border: 1px solid black;
  padding: 1rem 4rem;
}

.open_radio {
  margin: 0;
}

.provide_meattype_content,
.selected_meattype_content {
  width: 100%;
  height: 200px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fdfdfd
}

.provide_meattype_content ul,
.selected_meattype_content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.provide_meattype_content ul li,
.selected_meattype_content ul li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 0 1rem;
  position: relative;
}

.provide_meattype_content ul li:hover,
.selected_meattype_content ul li:hover {
  background-color: rgb(240, 240, 240);
}

.selected_cell {
  background-color: rgb(240, 240, 240);
}

.emailphone_section .form-group {
  margin-bottom: 0 !important;
}

.shopset_result_content {
  padding: 1rem;
  padding-top: 2rem;
  background-color: rgb(240, 240, 240);
  margin-bottom: 1.5rem;
  flex-basis: 50%;
}

.shopset_result_content img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: white;
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.shopset_result_content .shop_logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #F6931D;
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.shopset_result_content .shop_logo p {
  padding-top: 20px;
  font-size: 65px;
  text-align: center;
  font-family: 'amble-light' !important;
}

a {
  color: #ffd507 !important;
}

a:hover {
  color: #f55c1f
}

.picexplain_wrap {
  position: relative;
  cursor: pointer;
}

.picexplain_wrap:hover .picexplain_content {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 700px;
  background-color: white;
  z-index: 1100;
  box-shadow: #535353 0px 0px 7px 0px;
  padding: 1rem;
}

.picexplain_wrap .picexplain_content {
  display: none;
}

.picexplain_content img {
  float: left;
  width: 130px;
  height: 130px;
  border: 1px solid #d4d4d4;
  margin-right: 1rem;
}

.picexplain_content p {
  line-height: 1.3;
}

.picexplain_content small {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.intro_wrap {
  position: relative;
}

.introexplain_content {
  display: none;
}

.introexplain_content p {
  margin: 0;
}

.intro_wrap a:hover+.introexplain_content {
  display: block;
  position: absolute;
  width: 60%;
  max-width: 400px;
  background-color: white;
  z-index: 1100;
  box-shadow: #535353 0px 0px 7px 0px;
  padding: 1rem;
}

/**** ng select cusomize ****/

:host /deep/ ng-select .ng-control {
  background-color: transparent !important;
  height: 38px !important;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #535353;
}

:host /deep/ ng-select .ng-value {
  font-size: 1rem;
  color: #535353;
}

:host /deep/ ng-select {
  width: calc(100% + 4px) !important;
  margin-left: -2px !important;
}

:host /deep/ ng-select .ng-input {
  display: none !important;
}

:host /deep/ ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.marked {
  background-color: #fcb35f !important;
}

:host /deep/ ng-select .ng-option {
  background-color: #F6931D !important;
  color: white !important;
}

:host /deep/ ng-select .ng-dropdown-panel {
  background-color: #F6931D !important;
  border: none !important;
  /* margin-left: -2px!important; */
  /* margin-right: -4px!important; */
}

:host /deep/ ng-select .ng-arrow {
  display: none !important;
}

:host /deep/ ng-select .ng-clear {
  display: none !important;
}
