
<h2>About Us</h2>
<div class="aboutus_content animated slideInLeft">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="about_photo">
                    <a href=""><img src="http://fillmurray.com/400/400" alt=""></a>
                </div>
            </div>
            <div class="col-md-9 pl-5">
                <h4 class="color-gray mb-5">Maecenas a gravida quam</h4>
                <p class="color-light-gray mb-5">Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
                <p class="color-light-gray">Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
            </div>
        </div>
    </div>
</div>
<div class="aboutus_content animated slideInRight">
    <div class="container">
        <div class="row">
            <div class="col-md-9 pl-5">
                <h4 class="text-light mb-5">Maecenas a gravida quam</h4>
                <p >Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
                <p >Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
            </div>
            <div class="col-md-3">
                <div class="about_photo">
                    <a href=""><img src="http://fillmurray.com/400/400" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="aboutus_content bg-transparent  animated slideInLeft">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="about_photo">
                    <a href=""><img src="http://fillmurray.com/400/400" alt=""></a>
                </div>
            </div>
            <div class="col-md-9 pl-5">
                <h4 class="color-gray mb-5">Maecenas a gravida quam</h4>
                <p class="color-light-gray mb-5">Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
                <p class="color-light-gray">Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
            </div>
        </div>
    </div>
</div>

