@media screen and (max-width: 768px){
    .checkout_section{
        margin-bottom: -1rem !important;
    }

    #checkout_orderitems{
        margin-bottom: 0rem !important;
        border: none !important;
    }

    #delivery_infodetails{
        margin-bottom: 1rem !important;
    }
}

.checkout_section{
    margin-top: -1.5rem;
}

#checkout_orderitems{
    margin-bottom: -1.5rem; 
    background-color: #f3f2f2;
    padding: 0;
}

#delivery_infodetails{
    margin-bottom: -1.5rem; 
}


